<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      crossorigin="anonymous">
<div class="container">
  <div class="row">
    <div class="col">
      <app-tabla [cabeceras]="misCabeceras1" [datos]="misDatos1"></app-tabla>
    </div>
    <div class="col">
      <app-tabla [cabeceras]="misCabeceras2" [datos]="misDatos2"></app-tabla>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-tabla [cabeceras]="misCabeceras3" [datos]="misDatos3"></app-tabla>
    </div>
    <div class="col">
      <app-tabla [cabeceras]="misCabeceras4" [datos]="misDatos4"></app-tabla>
    </div>
  </div>
</div>
